<div class="spaced-rows">
	<div id="img-container" class="pull-left">
	</div>
	<div class="field pad-top clear-xs">
		Name: {{name}}
	</div>
	<div class="field">
		Roll Number: {{rollNumber}}
	</div>
	<div class="field clear">
		Date of Birth: {{dob}}
	</div>
	<div class="field">
		Batch: {{batch}}
	</div>
	<div class="field">
		Degree: {{degree}}
	</div>
	<div class="field">
		Department: {{department}}
	</div>
	<div class="field">
		Phone Number: {{phoneNumber}}
	</div>
	<div class="field">
		Email ID: {{emailId}}
	</div>
</div>
<div id="grade-sheet" class="table">
	<div class="row hidden-sm hidden-xs">
		<div class="col-md-3 text-center">Course Code</div>
		<div class="col-md-5 text-center">Course Name</div>
		<div class="col-md-2 text-center">Credits</div>
		<div class="col-md-2 text-center">Grade</div>
	</div>
	{{#each gradeSheet}}
		<div class="row">
			<div class="col-md-3 col-xs-offset-1 col-md-offset-0 text-center-md">
				<span>{{courseCode}}</span>
			</div>
			<div class="col-md-5 col-xs-offset-1 col-md-offset-0 text-center-md">
				<span>{{courseName}}</span>
			</div>
			<div class="col-md-2 col-xs-offset-1 col-md-offset-0 text-center-md">
				<span class="hidden-md hidden-lg label-grdsht">Credits:</span><span>{{credits}}</span>
			</div>
			<div class="col-md-2 col-xs-6 col-xs-offset-1 col-md-offset-0 text-center-md">
				<span class="hidden-md hidden-lg label-grdsht">Grade:</span><span>{{grade}}</span>
			</div>
		</div>
	{{/each}}
</div>
<br />
<span class="pull-right pad-right">Total Credits: {{totCredits}}</span><br /><br />
<span id="cgpa" class="pull-right pad-right">CGPA: {{cgpa}}</span>